.idea/*
target/*
.settings/*
dockin.iml
/target/

*.class
out/*
.svn
*.svn
*.svn/*
*/setting.properties
*/jdbc.properties



.gitignore.bak
dockin-framework/target/*
dockin-web/target/*
.gitignore.bak

