.idea/*
target/*
.settings/*
dockin.iml
/target/

*.class
out/*
.svn
*.svn
*.svn/*
dockin-web/src/main/resources/setting.properties
dockin-web/src/main/resources/jdbc.properties



.gitignore.bak
dockin-framework/target/*
dockin-web/target/*
.gitignore.bak

