    <style>
        #map-equipment-detail {
            font-size: 13px;
        }
    </style>
    <h5>装备名称（规格型号）</h5>
    <hr class="no-margin">
    <div class="box-body no-padding" id="map-equipment-detail" style="margin-top: 10px;width:360px;">
        <table class="table no-border">
            <tr>
                <td colspan="2">
                    <label class="control-label"> 存放地点：</label>
                    <span>大兴区博大东路甲博大大厦北口</span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label"> 装备数量：</label>
                    <span>35台</span></td>
                <td><label class="control-label"> 所属单位：</label>
                    <span>大兴区应急办</span></td>
            </tr>
            <tr>
                <td><label class="control-label"> 装备类型：</label>
                    <span>工程设备类</span></td>
                <td><label class="control-label"> 运输方式：</label>
                    <span>卡车运输</span></td>
            </tr>
            <tr>
                <td><label class="control-label"> 负责人：</label>
                    <span>欧阳娜娜</span></td>
                <td><label class="control-label"> 负责人电话：</label>
                    <span>13656781234</span></td>
            </tr>
        </table>

    </div>
