<style>
    #map-repository-list .product-info{
        margin-left:5px;
    }
    #map-repository-list .title-icon{
        font-size:18px;
    }
</style>
<div class="box-body no-padding" id="map-repository-list">
    <ul class="products-list product-list-in-box">
        <li class="item">
            <div class="pull-right" style="margin-top: 10px;font-size: 15px">
                <span class="label label-primary">等级</span>
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-blue title-icon margin-r-5"></i> <strong>物资储备库名称AAAAAAA</strong></h5>
               <label class="control-label">储备物资：</label>
                <span>玉米、小麦</span>
                <br/>
                <label class="control-label">所在地址：</label>
                <span>大兴区博大东路甲博大大厦</span>
            </div>
        </li>
        <li class="item">
            <div class="pull-right" style="margin-top: 10px;font-size: 15px">
                <span class="label label-success">市区级</span>
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-green title-icon margin-r-5"></i> <strong>物资储备库名称AAAAAAA</strong></h5>
                <label class="control-label">储备物资：</label>
                <span>玉米、小麦</span>
                <br/>
                <label class="control-label">所在地址：</label>
                <span>大兴区博大东路甲博大大厦</span>
            </div>
        </li>
        <li class="item">
            <div class="pull-right" style="margin-top: 10px;font-size: 15px">
                <span class="label label-danger">国家级</span>
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-red title-icon margin-r-5"></i> <strong>物资储备库名称AAAAAAA</strong></h5>
                <label class="control-label">储备物资：</label>
                <span>玉米、小麦</span>
                <br/>
                <label class="control-label">所在地址：</label>
                <span>大兴区博大东路甲博大大厦</span>
            </div>
        </li>

    </ul>
</div>
<div class="box-footer text-center">
    <button class="btn btn-default" style="width:80px;margin:0 10px;">检索</button>
    <button class="btn btn-default" style="width:80px;margin:0 10px;">分布</button>
</div>