<style>
    #map-protection-list .product-info{
        margin-left:5px;
    }
    #map-protection-list .title-icon{
        font-size:18px;
    }
</style>
<div class="box-body no-padding" id="map-protection-list">
    <ul class="products-list product-list-in-box">
        <li class="item">
            <div class="pull-right" style="margin-top: 10px;font-size: 15px">
                <span class="label label-warning">防护等级</span>
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-orange title-icon margin-r-5"></i> <strong>重点防护目标名称AAAAAAA</strong></h5>
               <label class="control-label">类型：</label>
                <span>学校</span>
                <br/>
                <label class="control-label">详细地址：</label>
                <span>大兴区博大东路甲博大大厦</span>
            </div>
        </li>
        <li class="item">
            <div class="pull-right" style="margin-top: 10px;font-size: 15px">
                <span class="label label-primary"> 特别防护</span>
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-blue title-icon margin-r-5"></i> <strong>重点防护目标名称AAAAAAA</strong></h5>
                <label class="control-label">类型：</label>
                <span>国家重点实验室</span>
                <br/>
                <label class="control-label">详细地址：</label>
                <span>大兴区博大东路甲博大大厦</span>
            </div>
        </li>
        <li class="item">
            <div class="pull-right" style="margin-top: 10px;font-size: 15px">
                <span class="label label-danger">重要防护</span>
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-red title-icon margin-r-5"></i> <strong>重点防护目标名称AAAAAAA</strong></h5>
                <label class="control-label">类型：</label>
                <span>新闻广播机构</span>
                <br/>
                <label class="control-label">详细地址：</label>
                <span>大兴区博大东路甲博大大厦</span>
            </div>
        </li>

    </ul>
</div>
<div class="box-footer text-center">
    <button class="btn btn-default" style="width:80px;margin:0 10px;">检索</button>
    <button class="btn btn-default" style="width:80px;margin:0 10px;">分布</button>
</div>