<!-- bootstrap slider -->
<style>
    #map-expert-list-detail {
        font-size: 13px;
    }
    #map-expert-list-detail img {
        width: 80px;
    }
</style>
<h5>专家姓名（13581993898）</h5>
<hr class="no-margin">
<div class="box-body no-padding" id="map-expert-list-detail" style="margin-top: 10px;width:360px;">
    <table class="table no-border">
        <tr>
            <td colspan="2">
                <label class="control-label"> 工作单位：</label>
                <span>大兴区森林公安局</span>
            </td>
            <td rowspan="3" class="text-center">
                <img src="${basePath}/resources/adminlte/dist/img/user1-128x128.jpg" alt="Product Image">
            </td>
        </tr>
        <tr>
            <td colspan="2"><label class="control-label"> 专业类型：</label>
                <span>地震灾害</span></td>
        </tr>
        <tr>
            <td colspan="2">
                <label class="control-label"> 职务职称：</label>
                <span>副主任、高工</span>
            </td>
        </tr>
        <tr>
            <td colspan="3"><label class="control-label"> 专业特长：</label>
                <span>专业特长专业特长专业特长专业特长专业特长专业特长专业特长专业特长专业特长专业特长专业特长</span></td>
        </tr>
    </table>

</div>
