<style>
    #map-danger-source-list .product-info{
        margin-left:5px;
    }
    #map-danger-source-list .title-icon{
        font-size:18px;
    }
</style>
<div class="box-body no-padding" id="map-danger-source-list">
    <ul class="products-list product-list-in-box">
        <li class="item">
            <div class="pull-right" style="margin-top: 10px;font-size: 15px;">
                <span class="label label-primary">危险等级</span>
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-orange title-icon margin-r-5"></i> <strong>重大危险源名称AAAAAAA</strong></h5>
               <label class="control-label">类型：</label>
                <span>尾矿库</span>
                <br/>
                <label class="control-label">详细地址：</label>
                <span>大兴区博大东路甲博大大厦</span>
            </div>
        </li>
        <li class="item">
            <div class="pull-right" style="margin-top: 10px;font-size: 15px;">
                <span class="label label-warning"> IV 级</span>
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-blue title-icon margin-r-5"></i> <strong>重大危险源名称AAAAAAA</strong></h5>
                <label class="control-label">类型：</label>
                <span>滑坡区</span>
                <br/>
                <label class="control-label">详细地址：</label>
                <span>大兴区博大东路甲博大大厦</span>
            </div>
        </li>
        <li class="item">
            <div class="pull-right" style="margin-top: 10px;font-size: 15px;">
                <span class="label label-danger">II 级</span>
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-red title-icon margin-r-5"></i> <strong>重大危险源名称AAAAAAA</strong></h5>
                <label class="control-label">类型：</label>
                <span>加油站</span>
                <br/>
                <label class="control-label">详细地址：</label>
                <span>大兴区博大东路甲博大大厦</span>
            </div>
        </li>

    </ul>
</div>
<div class="box-footer text-center">
    <button class="btn btn-default" style="width:80px;margin:0 10px;">检索</button>
    <button class="btn btn-default" style="width:80px;margin:0 10px;">分布</button>
</div>