<style>
    #map-fire-device-list .product-info{
        margin-left:5px;
    }
    #map-fire-device-list .title-icon{
        font-size:18px;
    }
</style>
<div class="box-body no-padding" id="map-fire-device-list">
    <ul class="products-list product-list-in-box">
        <li class="item">
            <div class="pull-right" style="margin-top: 10px;font-size: 15px">
                <span class="label label-primary">水池</span>
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-blue title-icon margin-r-5"></i> <strong>编号：SH-201898908</strong></h5>
                <label class="control-label">位置：</label>
                <span>大兴区博大东路甲博大大厦</span>
            </div>
        </li>
        <li class="item">
            <div class="pull-right" style="margin-top: 10px;font-size: 15px">
                <span class="label label-success">水鹤</span>
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-green title-icon margin-r-5"></i> <strong>编号：SH-201898908</strong></h5>
                <label class="control-label">病床数：</label>
                <span>35个</span>
                <br/>
                <label class="control-label">位置：</label>
                <span>大兴区博大东路甲博大大厦</span>
            </div>
        </li>
        <li class="item">
            <div class="pull-right" style="margin-top: 10px;font-size: 15px">
                <span class="label label-danger">消防井</span>
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-red title-icon margin-r-5"></i> <strong>编号：SH-201898908</strong></h5>
                <label class="control-label">位置：</label>
                <span>大兴区博大东路甲博大大厦</span>
            </div>
        </li>

    </ul>
</div>
<div class="box-footer text-center">
    <button class="btn btn-default" style="width:80px;margin:0 10px;">检索</button>
    <button class="btn btn-default" style="width:80px;margin:0 10px;">分布</button>
</div>