    <!-- bootstrap slider -->
    <style>
        #map-rescueTeam-detail {
            font-size: 13px;
        }
        #map-rescueTeam-detail img {
            width: 80px;
        }
    </style>
    <h5>西城区应急抢险救援队2</h5>
    <hr class="no-margin">
    <div class="box-body no-padding" id="map-rescueTeam-detail" style="margin-top: 10px;width:360px;">
        <table class="table no-border">
            <tr>
                <td colspan="3">
                    <label class="control-label"> 位置：</label>
                    <span>大兴区XXX乡富源小区东街胡同16号万方宾馆万方宾馆</span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label"> 类型：</label>
                    <span>抗震救援队</span></td>
                <td><label class="control-label"> 人数：</label>
                    <span>36人</span></td>
                <td rowspan="2" class="text-center">
                    <img src="${basePath}/resources/adminlte/dist/img/user1-128x128.jpg" alt="Product Image">
                </td>
            </tr>
            <tr>
                <td colspan="2"><label class="control-label"> 专业特长：</label>
                    <span>专业特长专业特长专业特长专业特长专业特长专业特长专业特长专业特长专业特长专业特长专业特长</span></td>
            </tr>
            <tr>
                <td colspan="3"><label class="control-label"> 主要装备：</label>
                    <span>主要装备主要装备主要装备主要装备主要装备主要装备主要装备主要装备主要装备主要装备</span></td>
            </tr>
            <tr>
                <td><label class="control-label"> 【负责人】：</label><label class="control-label"> 欧阳振华</label>
                </td>
                <td colspan="2"><label class="control-label"> 【负责人手机】：</label><label class="control-label"> 13601015216</label>
                </td>
            </tr>
            <tr>
                <td colspan="3"><label class="control-label"> 【值班电话】：</label>
                    <label class="control-label"> 010-55545555</label></td>
            </tr>
        </table>

    </div>
