<style>
    #map-fire-station-list .product-info{
        margin-left:5px;
    }
    #map-fire-station-list .title-icon{
        font-size:18px;
    }
</style>
<div class="box-body no-padding" id="map-fire-station-list">
    <ul class="products-list product-list-in-box">
        <li class="item">
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-blue title-icon margin-r-5"></i> <strong>微型消防站AAAAAA</strong></h5>
               <label class="control-label">消防车数：</label>
                <span>3辆</span>
                <br/>
                <label class="control-label">位置：</label>
                <span>大兴区博大东路甲博大大厦</span>
            </div>
        </li>
        <li class="item">
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-yellow title-icon margin-r-5"></i> <strong>微型消防站AAAAAA</strong></h5>
                <label class="control-label">消防车数：</label>
                <span>3辆</span>
                <br/>
                <label class="control-label">位置：</label>
                <span>大兴区博大东路甲博大大厦</span>
            </div>
        </li>
        <li class="item">
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-red title-icon margin-r-5"></i> <strong>微型消防站AAAAAA</strong></h5>
                <label class="control-label">消防车数：</label>
                <span>3辆</span>
                <br/>
                <label class="control-label">位置：</label>
                <span>大兴区博大东路甲博大大厦</span>
            </div>
        </li>

    </ul>
</div>
<div class="box-footer text-center">
    <button class="btn btn-default" style="width:80px;margin:0 10px;">检索</button>
    <button class="btn btn-default" style="width:80px;margin:0 10px;">分布</button>
</div>