<style>
    #map-rescueTeam-list .product-info{
        margin-left:5px;
    }
    #map-rescueTeam-list .title-icon{
        font-size:18px;
        margin-right:5px;
    }
    #map-rescueTeam-list .product-img img{
        height:70px;
        width:auto;
    }
</style>
<div class="box-body no-padding" id="map-rescueTeam-list">
    <ul class="products-list product-list-in-box">
        <li class="item">
            <div class="product-img pull-right">
                <img src="${basePath}/resources/adminlte/dist/img/user1-128x128.jpg" alt="Product Image">
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-red title-icon"></i> 西城区应急抢险救援队1 </h5>
                <span class="text-muted">
                        位置：大兴区XXX乡富源小区东街胡同16号万方宾馆万方宾馆
                </span>
            </div>
        </li>
        <li class="item">
            <div class="product-img pull-right">
                <img src="${basePath}/resources/adminlte/dist/img/user4-128x128.jpg" alt="Product Image">
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-yellow title-icon"></i> 西城区应急抢险救援队2 </h5>
                <span class="text-muted">
                        位置：大兴区XXX乡富源小区东街胡同16号万方宾馆万方宾馆
                </span>
            </div>
        </li>
        <li class="item">
            <div class="product-img pull-right">
                <img src="${basePath}/resources/adminlte/dist/img/user3-128x128.jpg" alt="Product Image">
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-blue title-icon"></i> 西城区应急抢险救援队1 </h5>
                <span class="text-muted">
                        位置：大兴区XXX乡富源小区东街胡同16号万方宾馆万方宾馆
                </span>
            </div>
        </li>

    </ul>
</div>
<div class="box-footer text-center">
    <button class="btn btn-default" style="width:80px;margin:0 10px;">检索</button>
    <button class="btn btn-default" style="width:80px;margin:0 10px;">分布</button>
</div>