    <style>
        #map-fire-station-detail {
            font-size: 13px;
        }
    </style>
    <h5>微型消防站AAAAAAA</h5>
    <hr class="no-margin">
    <div class="box-body no-padding" id="map-fire-station-detail" style="margin-top: 10px;width:360px;">
        <table class="table no-border">
            <tr>
                <td colspan="2">
                    <label class="control-label"> 位置：</label>
                    <span>大兴区博大东路甲博大大厦北口</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="control-label"> 组长：</label>
                    <span>张天宇（13567899876）</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="control-label"> 司机：</label>
                    <span>王浩东（13809873456）</span>
                </td>
            </tr>
            <tr>
                <td colspan="2"><label class="control-label"> 其他人员：</label>
                    <span>王浩东、张天宇、王宇</span></td>
            </tr>
            <tr>
                <td><label class="control-label"> 消防车数量：</label>
                    <span>1辆</span></td>
                <td><label class="control-label"> 储水量：</label>
                    <span>8吨</span></td>
            </tr>
            <tr>
                <td colspan="2"><label class="control-label"> 权属：</label>
                    <span>东风村</span></td>
            </tr>
            <tr>
                <td><label class="control-label"> 负责人：</label>
                    <span>欧阳娜娜</span></td>
                <td><label class="control-label"> 负责人电话：</label>
                    <span>13567898765</span></td>
            </tr>

        </table>

    </div>
