<style>
    #map-shelter-detail {
        font-size: 13px;
    }
</style>
<h5>李思琪</h5>
<hr class="no-margin">

<div class="box-body no-padding" id="map-shelter-detail" style="margin-top: 10px;width:360px;">
    <table class="table no-border">
        <tr>
            <td colspan="2">
                <label class="control-label"> 详细地址：</label>
                <span>大兴区博大东路甲博大大厦北口</span>
            </td>
        </tr>
        <tr>
            <td><label class="control-label"> 容纳人数：</label>
                <span>635人</span></td>
            <td><label class="control-label"> 主管部门：</label>
                <span>大兴区应急办</span></td>
        </tr>
        <tr>
            <td><label class="control-label"> 建筑面积：</label>
                <span>1000平方米</span></td>
            <td><label class="control-label"> 建成时间：</label>
                <span>2018-12-12</span></td>
        </tr>

    </table>

</div>
<div class="box-footer text-center">
    <button class="btn btn-default" style="width:80px;margin:0 10px;">短消息</button>
    <button class="btn btn-default" style="width:80px;margin:0 10px;">视频通信</button>
    <button class="btn btn-default" style="width:80px;margin:0 10px;">打电话</button>
    <!--<button class="btn btn-default" onclick="locationDetailObj.routeReview()" style="width:80px;">轨迹回放</button>-->
</div>
<script>
    var locationDetailId="${id}";
  /*  var locationDetailObj = {
        routeReview: function () {
            loadPage("${basePath}/userLocation/map/route/"+locationDetailId, "#userLocation"+locationDetailId);
        }
    }*/
</script>