<style>
    #map-expert-list .product-info{
        margin-left:5px;
    }
    #map-expert-list .title-icon{
        font-size:18px;
    }
    #map-expert-list .product-img img{
        height:70px;
        width:auto;
    }
</style>
<div class="box-body no-padding" id="map-expert-list">
    <ul class="products-list product-list-in-box">
        <li class="item">
            <div class="product-img pull-right">
                <img src="${basePath}/resources/adminlte/dist/img/user1-128x128.jpg" alt="Product Image">
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-red title-icon margin-r-5"></i> <strong>李专家（13581993898）</strong></h5>
                <span class="text-muted">
                   专业类型：地震灾害
                </span><br/>
                <span class="text-muted">地理位置：大兴区森林公安局</span>
            </div>
        </li>
        <li class="item">
            <div class="product-img pull-right">
                <img src="${basePath}/resources/adminlte/dist/img/user4-128x128.jpg" alt="Product Image">
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-yellow title-icon margin-r-5"></i> <strong>张专家（13581993898）</strong></h5>
                <span class="text-muted">
                   专业类型：地震灾害
                </span><br/>
                <span class="text-muted">地理位置：大兴区森林公安局</span>
            </div>
        </li>
        <li class="item">
            <div class="product-img pull-right">
                <img src="${basePath}/resources/adminlte/dist/img/user3-128x128.jpg" alt="Product Image">
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-blue title-icon margin-r-5"></i> <strong>高专家（13581993898）</strong></h5>
                <span class="text-muted">
                   专业类型：地震灾害
                </span><br/>
                <span class="text-muted">地理位置：大兴区森林公安局</span>
            </div>
        </li>

    </ul>
</div>
<div class="box-footer text-center">
    <button class="btn btn-default" style="width:80px;margin:0 10px;">检索</button>
    <button class="btn btn-default" style="width:80px;margin:0 10px;">分布</button>
</div>