    <style>
        #map-repository-detail {
            font-size: 13px;
        }
    </style>
    <h5>物资储备库名称AAAAAA</h5>
    <hr class="no-margin">
    <div class="box-body no-padding" id="map-repository-detail" style="margin-top: 10px;width:360px;">
        <table class="table no-border">
            <tr>
                <td colspan="2">
                    <label class="control-label"> 详细地址：</label>
                    <span>大兴区博大东路甲博大大厦北口</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="control-label"> 储备物资：</label>
                    <span>玉米、小麦</span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label"> 库容：</label>
                    <span>100（单位）</span></td>
                <td><label class="control-label"> 可容纳人数：</label>
                    <span>1000人</span></td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="control-label"> 防护等级：</label>
                    <span>特别防护</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="control-label"> 防护措施：</label>
                    <span>特别防护特别防护特别防护特别防护特别防</span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label"> 负责人：</label>
                    <span>欧阳娜娜</span></td>
                <td><label class="control-label"> 负责人电话：</label>
                    <span>13656781234</span></td>
            </tr>
        </table>

    </div>
