<style>
    #map-equipment-list .product-info{
        margin-left:5px;
    }
    #map-equipment-list .title-icon{
        font-size:18px;
    }
</style>
<div class="box-body no-padding" id="map-equipment-list">
    <ul class="products-list product-list-in-box">
        <li class="item">
            <div class="pull-right" style="margin-top: 10px;font-size: 15px">
                <span class="label label-warning">工程设备</span>
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-yellow title-icon margin-r-5"></i> <strong>装备名称（规格型号）</strong></h5>
               <label class="control-label">装备数量：</label>
                <span>35台</span>
                <br/>
                <label class="control-label">存放地点：</label>
                <span>大兴区博大东路甲博大大厦</span>
            </div>
        </li>
        <li class="item">
            <div class="pull-right" style="margin-top: 10px;font-size: 15px">
                <span class="label label-success">医疗救护</span>
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-green title-icon margin-r-5"></i> <strong>装备名称（规格型号）</strong></h5>
                <label class="control-label">装备数量：</label>
                <span>35台</span>
                <br/>
                <label class="control-label">存放地点：</label>
                <span>大兴区博大东路甲博大大厦</span>
            </div>
        </li>
        <li class="item">
            <div class="pull-right" style="margin-top: 10px;font-size: 15px">
                <span class="label label-primary">抢险救助</span>
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-blue title-icon margin-r-5"></i> <strong>装备名称（规格型号）</strong></h5>
                <label class="control-label">装备数量：</label>
                <span>35台</span>
                <br/>
                <label class="control-label">存放地点：</label>
                <span>大兴区博大东路甲博大大厦</span>
            </div>
        </li>

    </ul>
</div>
<div class="box-footer text-center">
    <button class="btn btn-default" style="width:80px;margin:0 10px;">检索</button>
    <button class="btn btn-default" style="width:80px;margin:0 10px;">分布</button>
</div>