<style>
    #map-vehicle-list .product-info{
        margin-left:5px;
    }
    #map-vehicle-list .title-icon{
        font-size:18px;
    }
</style>
<div class="box-body no-padding" id="map-vehicle-list">
    <ul class="products-list product-list-in-box">
        <li class="item">
            <div class="pull-right" style="margin-top: 10px;font-size: 15px">
                <span class="label label-warning">车身颜色</span>
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-yellow title-icon margin-r-5"></i> <strong>车牌号码</strong></h5>
               <label class="control-label">所属单位：</label>
                <span>大兴区应急办</span>
                <br/>
                <label class="control-label">存放地址：</label>
                <span>大兴区博大东路甲博大大厦</span>
            </div>
        </li>
        <li class="item">
            <div class="pull-right" style="margin-top: 10px;font-size: 15px">
                <span class="label label-danger">红色</span>
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-red title-icon margin-r-5"></i> <strong>车牌号码</strong></h5>
                <label class="control-label">所属单位：</label>
                <span>大兴区应急办</span>
                <br/>
                <label class="control-label">存放地址：</label>
                <span>大兴区博大东路甲博大大厦</span>
            </div>
        </li>
        <li class="item">
            <div class="pull-right" style="margin-top: 10px;font-size: 15px">
                <span class="label label-primary">紫灰</span>
            </div>
            <div class="product-info">
                <h5><i class="fa fa-map-marker text-purple title-icon margin-r-5"></i> <strong>车牌号码</strong></h5>
                <label class="control-label">所属单位：</label>
                <span>大兴区应急办</span>
                <br/>
                <label class="control-label">存放地址：</label>
                <span>大兴区博大东路甲博大大厦</span>
            </div>
        </li>

    </ul>
</div>
<div class="box-footer text-center">
    <button class="btn btn-default" style="width:80px;margin:0 10px;">检索</button>
    <button class="btn btn-default" style="width:80px;margin:0 10px;">分布</button>
</div>