<style>
    #map-surveillance-detail {
        font-size: 13px;
    }
</style>
<h5>河西区与河东区交叉路口A</h5>
<hr class="no-margin">

<div class="box-body no-padding" id="map-surveillance-detail" style="margin-top: 10px;width:360px;">
    <table class="table no-border">
        <tr>
            <td colspan="2">
                <label class="control-label"> 监控类型：</label>
                <span>平安城市一期安装</span>
            </td>
        </tr>
        <tr>
            <td><label class="control-label"> 所属区域：</label>
                <span>河西区</span></td>
            <td><label class="control-label"> 监控编码：</label>
                <span>SG-0002</span></td>
        </tr>
        <tr>
            <td><label class="control-label"> 管理负责人：</label>
                <span>张东顺</span></td>
            <td><label class="control-label"> 负责人电话：</label>
                <span>13578987654</span></td>
        </tr>

    </table>

</div>
<div class="box-footer text-center">
    <button class="btn btn-default" style="width:80px;">视频查看</button>
</div>
