    <style>
        #map-fire-danger-detail {
            font-size: 13px;
        }
    </style>
    <h5>消防隐患点AAAAAAA</h5>
    <hr class="no-margin">
    <div class="box-body no-padding" id="map-fire-danger-detail" style="margin-top: 10px;width:360px;">
        <table class="table no-border">
            <tr>
                <td colspan="2">
                    <label class="control-label"> 位置：</label>
                    <span>大兴区博大东路甲博大大厦北口</span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label"> 类型：</label>
                    <span>压力管道</span></td>
                <td><label class="control-label"> 权属：</label>
                    <span>南棋盘村</span></td>
            </tr>
            <tr>
                <td><label class="control-label"> 检查人：</label>
                    <span>王浩东</span></td>
                <td><label class="control-label"> 检查日期：</label>
                    <span>2020-12-12</span></td>
            </tr>
            <tr>
                <td colspan="2"><label class="control-label"> 检查企业：</label>
                    <span>北安消防工程技术有限公司</span></td>
            </tr>
        </table>

    </div>
